@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong, b {
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home-page-logo {
  transform: scale(0.6);
  position: absolute; /* Lo mueve de forma independiente */
  left: -190px; /* Mueve el logo más a la izquierda */
  top: 150px; /* Ajusta este valor si deseas moverlo hacia abajo o hacia arriba */
  display: block;
}


/* Imagen principal (derecha) */
.home-page-image {
  transform: scale(1.5);
  width: 80%;
  margin-left: auto; /* Empuja la imagen hacia la derecha */
  display: block;    /* Asegura que la imagen esté alineada correctamente */
}

/* Contenedor principal */
.home-page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* Alinea el contenido hacia la izquierda */
  align-items: center; /* Centra el contenido verticalmente */
  background: linear-gradient(135deg, #4cc9f0 50%, #ffffff 50%);
  color: white;
  flex-direction: row; /* Asegura que el logo y la imagen se acomoden en fila */
}

/* Contenido de la izquierda */
.home-page-content {
  max-width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos al inicio */
  justify-content: center;
  z-index: 10;
  margin-left: 80px; /* Ajuste de margen izquierdo para no estar pegado al borde */
  margin-right: 50px; /* Ajuste de margen derecho para dar espacio a la imagen */
}

/* Texto principal */
.home-page-tagline {
  font-size: 1.2rem;
  margin: 20px 0;
  text-align: left; /* Alinea el texto a la izquierda */
  margin-left: 0; /* Ajuste de margen izquierdo */
}

/* Botones */
.home-page-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start; /* Los botones se alinean a la izquierda */
  flex-wrap: wrap;
  margin-left: 0; /* Alinea los botones sin margen adicional */
}

.home-page-btn {
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 100px; /* Radio aumentado a 100px */
  border: 2px solid white !important;
  background: rgba(255, 255, 255, 0.1);
  color: white; /* El texto es blanco */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home-page-btn:hover {
  background: white;
  color: white; /* El texto sigue siendo blanco al pasar el cursor */
  transform: scale(1.05);
  opacity: 0.9;
}
