/* Estilo de la Sidebar */
.sidebar {
    position: fixed;
    top: 65px; /* Deja espacio para la navbar */
    left: 0;
    width: 250px; /* Ancho fijo para pantallas grandes */
    height: calc(100vh - 65px); /* Ajusta la altura para no cubrir la navbar */
    background-color: #40C8FF;
    overflow-y: auto;
    z-index: 1000; /* Asegura que la sidebar quede encima del contenido */
    transition: width 0.3s ease; /* Agrega una transición suave para el ancho en dispositivos pequeños */
}

/* Ajuste para el contenido cuando la sidebar está presente */
.content-container {
    margin-left: 250px; /* Asegura que el contenido no quede detrás de la sidebar */
    transition: margin-left 0.3s ease-in-out; /* Animación suave */
}

/* En pantallas pequeñas (menor a 768px), la sidebar se convierte en un menú desplegable */
@media (max-width: 768px) {
    .sidebar {
        position: absolute; /* Cambia a posición absoluta para permitir que el contenido ocupe todo el espacio */
        top: 0;
        left: 0;
        width: 100%; /* La sidebar ocupa todo el ancho en pantallas pequeñas */
        height: auto; /* Permite que la altura se ajuste automáticamente */
        padding: 10px 15px; /* Ajuste de padding para que el contenido no quede pegado */
        z-index: 1050; /* Asegura que la sidebar esté por encima del contenido */
    }

    .content-container {
        margin-left: 0; /* El contenido ocupa todo el ancho de la pantalla en móviles */
    }

    /* Botones de la sidebar */
    .btn-custom-sidebar {
        width: 100%; /* Los botones ocupan todo el ancho */
        margin-bottom: 10px;
    }

    .btn-danger-custom {
        width: 100%; /* El botón de salir ocupa todo el ancho */
        margin-bottom: 10px;
    }
}

/* Estilo de los botones personalizados de la Sidebar */
.btn-custom-sidebar {
    background-color: rgb(131, 215, 249) !important;
    color: black !important;
    font-weight: bold !important;
    padding: 12px 20px;
    border-radius: 5px;
    width: 100%; /* Los botones ocupan todo el ancho */
    text-align: left;
    border: none;
    margin: 5px 0;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-custom-sidebar:hover {
    background: white !important;
    color: #40C8FF !important;
    opacity: 0.8;
    box-shadow: 0px 4px 12px rgba(64, 200, 255, 0.5);
}

.btn-danger-custom {
    background-color: rgb(131, 215, 249) !important;
    color: black !important;
    font-weight: bold !important;
    padding: 12px 20px;
    border-radius: 5px;
    width: 100%; /* Los botones ocupan todo el ancho */
    text-align: left;
    border: none;
    margin: 5px 0;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-danger-custom:hover {
    background-color: rgba(255, 0, 0, 0.5) !important;
    color: white !important;
    box-shadow: 0px 4px 12px rgba(255, 0, 0, 0.5);
}
